<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>newspage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-title>
    TITLE1
  </ion-title>

    <swiper-container class="swiper">
      <swiper-slide *ngFor="let imageUrl of imageUrls" (click)="navigate()">
        
        <ion-card class="card-content" >
          <ion-card-content  >
          
            <ion-img  class="image" [src]="imageUrl" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
          
          
            <p class="auth-name">
              author name
            </p>
            <ion-card-title class="headlines">
              Headlines of the news
              </ion-card-title>
          </ion-card-content>
        </ion-card>
      </swiper-slide>
    </swiper-container>
    

    <ion-title>
      TITLE2
    </ion-title>
    

    <ion-list>
      <ion-item *ngFor="let imageUrl of imageUrls" (click)="navigate()">
        <ion-card class="card-content1">
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <p class="auth-name">
                    Author Name
                  </p>
                  <ion-card-title class="headlines">
                    Headlines of the News
                  </ion-card-title>
                </ion-col>
                <ion-col size="4" class="ion-text-right">
                  <ion-img class="image1" [src]="imageUrl" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>


</ion-content>