<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">
    <img src="assets/images/avatar.jpg" alt="Image" class="round-image">
  </div>

  <div class="label">NAME</div>
  <ion-input fill="outline" placeholder="Enter Name" class="input-box"></ion-input>

  <div class="label">AGE</div>
  <ion-input fill="outline" placeholder="Enter Age" class="input-box" type="number" [(ngModel)]="age"></ion-input>

  <div class="label">DATE OF BIRTH</div>
  <ion-input fill="outline" placeholder="Choose D.O.B" class="input-box" type="date" [(ngModel)]="dob"></ion-input>

  <div class="label">PLACE</div>
  <ion-input fill="outline" placeholder="Enter Place" class="input-box" type="text" [(ngModel)]="place"></ion-input>

  <div class="label">LOCATION</div>
  <ion-input fill="outline" placeholder="Enter Location" class="input-box" type="text"
    [(ngModel)]="location"></ion-input>

  <ion-button expand="block" (click)="register()" class="input-box">Continue</ion-button>

</ion-content>